.about-container {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    height: 100vh;
}

.about-header {
    margin: 8px auto 8px auto;
    padding: 8px 8px;
    border-radius: 12px;
    width: fit-content;
    background-color: #161923;
    box-shadow: 5px 5px 10px rgb(137, 136, 136);
}

.about-list {
    margin-bottom: 8px;
    padding: 8px 8px;
    border-radius: 12px;
    list-style: none;
    background-color: #161923;
    box-shadow: 5px 5px 10px rgb(137, 136, 136);
}