.form-container {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(106, 123, 152);
  border-radius: 20px;
  padding: 20px;
  margin: 0 2px;
  box-shadow: 5px 5px 10px rgb(137, 136, 136);
  max-width: 600px;
}

.form-input {
  width: 80%;
  margin: 5px 200px;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: #fff;
  border-width: 6px;
  border-color: rgb(168, 186, 200);
}

.form-button {
  margin: 5px;
  padding: 10px 10px;
  background-color: rgb(102, 179, 250);
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  border-width: 6px;
  border-color: rgb(168, 186, 200);
}

@media (max-width: 600px) {
  .form-container form {
    max-width: 300px;
  }
}