.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background: #0f0f0f;
  width: 100%;
  position: fixed;
  z-index: 1000;
  box-shadow: 5px 5px 10px rgb(137, 136, 136);
}

.navlink {
  display: inline-block;
  text-decoration: none;
  color: #a0a7be;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.navlist {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.nav-item {
  display: block;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: rgb(33, 33, 33);
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  text-align: start;
  color: #3698de;
  margin: 0;
  border-radius: 10px;
  padding: 0.5rem;
}

.logo:hover {
  background-color: rgb(33, 33, 33);
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;

  width: 40px;
  height: 40px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 10px;
}

.menu-button span {
  width: 22px;
  height: 2px;
  background-color: #3698de;
  border-radius: 2px;
}

.menu-button:hover {
  background-color: rgb(33, 33, 33);
}

@media (max-width: 600px) {
  .navbar {
    padding: 0.5rem;
  }

  .menu-button {
    display: flex;
  }

  .navlink {
    padding: 0;
  }

  .navlist {
    flex-direction: column;
    align-items: stretch;
  }

  .navlist li {
    padding: 0;
  }

  .nav-item {
    display: none;
    text-align: center;
  }

  .nav-item.open {
    display: block;
  }

  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}