.syntax-rules {
    margin: 30px auto;
    font-family: ui-sans-serif, system-ui, sans-serif;
    line-height: 1.6;

}

.syntax-rules ul {
    list-style: none;
    padding: 0;
}

.syntax-rules li {
    margin-bottom: 8px;
    padding: 8px 8px;
    border-radius: 12px;
    background-color: #161923;
    box-shadow: 5px 5px 10px rgb(137, 136, 136);
}