.syntax-header {
    margin: 8px auto 8px auto;
    padding: 8px 8px;
    border: 2px solid #3a7bfd;
    border-radius: 12px;
    width: fit-content;
}

.syntax-container {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
}

.syntax-table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.syntax-table {
    border: solid 1px;
    border-color: #60abb5;
    border-collapse: collapse;
    font-family: ui-sans-serif, system-ui, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.syntax-table th {
    background-color: #242424;
    color: white;
    padding: 14px;
    font-weight: 600;
}

.syntax-table td {
    padding: 12px 14px;
    border-bottom: 1px solid #60abb5;
}

.syntax-table tr:hover td {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
}

.syntax-table tbody tr:nth-child(even) {
    background-color: #2c2949;
}

.syntax-rules {
    margin: 30px auto;
    font-family: ui-sans-serif, system-ui, sans-serif;
    line-height: 1.6;
}

.syntax-rules ul {
    list-style: none;
    padding: 0;
}

.syntax-rules li {
    margin-bottom: 8px;
    padding: 8px 8px;
    border: 2px solid #3a7bfd;
    border-radius: 12px;
}