:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(120, 197, 238, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background: #0f0f0f;
  border-bottom: 1px solid #ddd;
  width: 100vw;
  position: fixed;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  text-align: start;
  color: #1c49da;
  margin: 20px;

}

.nav-link {
  text-decoration: none;
  color: #a0a7be;
  margin: 20px;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.parent-div {
  position: relative;
  background-color: #161923;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}

.form-container {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  width: 100vw;
  height: 100vh;

}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(106, 123, 152);
  border-radius: 50px;
  padding: 20px;
  margin: 0 2px;
}

.form-input {
  width: 80%;
  margin: 5px 200px;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: #fff;
  border-width: 6px;
  border-color: rgb(168, 186, 200);
}

.form-button {
  margin: 5px;
  padding: 10px 10px;
  background-color: rgb(102, 179, 250);
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  border-width: 6px;
  border-color: rgb(168, 186, 200);
}

.syntax-header {
  margin-bottom: 8px;
  padding: 8px 8px;
  border: 2px solid #3a7bfd;
  border-radius: 12px;
}

.syntax-container {
  text-align: center;
  font-size: 12px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.syntax-table {
  border: solid 1px;
  border-color: #60abb5;
  border-collapse: collapse;
  width: 60%;
  font-family: ui-sans-serif, system-ui, sans-serif;
  text-align: left;
  font-size: 1.1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.syntax-table th {
  background-color: #242424;
  color: white;
  padding: 14px;
  font-weight: 600;
}

.syntax-table td {
  padding: 12px 14px;
  border-bottom: 1px solid #60abb5;
}

.syntax-table tr:hover td {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
}

.syntax-table tbody tr:nth-child(even) {
  background-color: #4c4690;
}

.syntax-rules {
  margin: 30px auto;
  width: 80%;
  max-width: 800px;
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 1.6;
}

.syntax-rules ul {
  list-style: none;
  padding: 0;
}

.syntax-rules li {
  /* background: #fafafa; */
  margin-bottom: 8px;
  padding: 8px 8px;
  border: 2px solid #3a7bfd;
  border-radius: 12px;
}

code {
  background-color: #4b555d;
  padding: 2px 2px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.95rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }


}