:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: rgb(180, 228, 254);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #161923;
}

p {
  font-size: 1.05rem;
}

.app-background {
  min-height: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

.parent-div {
  position: relative;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 80%;
  max-width: 800px;
  padding-top: 100px;
}

code {
  background-color: #4b555d;
  padding: 2px 2px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.95rem;
}

.text-container {
  text-align: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 600px) {

  .truth-table th,
  .truth-table td {
    padding: 0.4rem 0.5rem;
  }
}